:root {
    --font-heading: 'Cinzel', serif;
    --font-body: 'MedievalSharp', cursive;
}

body {
    background: #0a0a15;
    font-family: var(--font-body);
}

.navbar {
            display: flex;
            justify-content: space-between;
            align-items: center;
            padding: 1rem 2rem;
            background:rgba(10,10,20,0.95);
            position: fixed;
            width: 100%;
            top: 0;
            z-index: 1000;
            border-bottom: 1px solid rgba(212, 175, 55, 0.3);
            backdrop-filter: blur(5px);
        }

.logo{
  margin:0;
  font-family: var(--font-body);
    font-size: 1.5rem;
    font-family: 'Cinzel', serif;
    font-weight: bold;
    color: #fff;
}

.nav-links{
  display:flex;
  gap:2rem;
  list-style:none;
  /* margin:0;
  padding:0; */
}



.gold-text {
    color: #d4af37;
}


.nav-links a {
    text-decoration: none;
    color: #fff;
    font-size: 1.05rem;
    position: relative;
}

/* underline hover */
.nav-links a::after {
    content: '';
    position: absolute;
    left: 0;
    bottom: -5px;
    width: 0;
    height: 2px;
    background: #d4af37;
    transition: .3s;
}

.nav-links a:hover::after {
    width: 100%;
}

/* enroll button */
.btn-primary {
    border: 1px solid #d4af37;
    padding: 8px 20px;
    border-radius: 6px;
    color: #d4af37;
    text-decoration: none;
    transition: .3s;
}

.btn-primary:hover {
    background: #d4af37;
    color: #000;
}

/* hamburger */
.hamburger {
    display: none;
    flex-direction: column;
    cursor: pointer;
}

.bar {
    width: 25px;
    height: 3px;
    background: white;
    margin: 4px 0;
}

/* mobile */
@media(max-width:768px) {
    .nav-links {
        display: none;
    }

    .hamburger {
        display: flex;
    }
}